<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.st.rental.ui.category"
            name="Rental">
      </category>
      <view
            category="com.st.rental.ui.category"
            class="com.st.rental.ui.views.RentalPropertyView"
            id="com.st.rental.ui.view.rental.property"
            name="Rental Property"
            restorable="true">
      </view>
      <view
            category="com.st.rental.ui.category"
            class="com.st.rental.ui.views.RentalAgencyView"
            id="com.st.rental.ui.view.rental.agency"
            name="Rental Agency"
            restorable="true">
      </view>
   </extension>

</plugin>
